<div class="row">
<div class="col-md-8">
<div class="form-group">
<label for="first_name">First Name</label>
<input type="text" class="form-control" [(ngModel)]="patient.firstName">
</div>
<div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" [(ngModel)]= "patient.lastName" class="form-control" >
</div>
<div class="form-group">
        <label for="last_name">ID Number</label>
        <input type="text" [(ngModel)]="patient.IdNumber" class="form-control" >
</div>  
<button class="btn btn-dark" (click)= "save()" >Save</button>   
</div>
</div>