<table class="table table-striped table-sm">
<thead>
<tr>
  <td>FIRST NAME</td>
  <td>LAST NAME</td>
  <td>ID NUMBER</td>
</tr>
</thead>
<tbody>
<tr *ngFor="let patient of patients ; let i = index"  >
<td>{{patient.firstName}}</td>
<td>{{patient.lastName}} </td>
<td>{{patient.IdNumber}}</td>
<td>  <button class="btn btn-primary" (click)="editPatient(patient.uuid)">Edit</button> </td>
<td><button class="btn btn-danger" (click)=deletePatient(i)>Delete</button></td>
</tr>
</tbody>
</table>